.row_posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll; /* addding scrollbar horizontallly */
  padding: 20px;
}
.row_posters::-webkit-scrollbar {
  display: none; /* hides the scrollbar */
}
.row_poster {
  width: 100%;
  object-fit: contain; /* maintains the aspect ratio of our image, whether we are shrinking or enlarging it */
  max-height: 100px;
  transition: transform 500ms;
  margin-right: 10px;
  cursor: pointer;
}
.row_poster:hover {
  transform: scale(1.08);
}
.row_posterLarge {
  max-height: 250px;
}
.row_posterLarge:hover {
  transform: scale(1.09);
}
.row {
  margin-left: 20px;
  color: white;
}
